/* */
body {
  background-color: black;
}


/* */
header {
  background: black;
  color: rgb(244, 240, 244);
  position: sticky;
  top: 0;
  border-style: double;
}


/* music button */
.play {
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10%;
  width: 55px;
  height: 30px;
  background-color: green;
  color: white;
  font-size: 15px;
  font-family: arial; 
}


/* align txt and logo in center */
.txt, .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 8px;
}


/* text */
.txt {
  font-size: 20px;
  font-family: arial;
}


/* camera logo */
.logo {
  width: 35px;
  height: 30px;
}


/* */
.container {
  padding-top: 40px;
}


/* */
.column {
  width: 16%;
  margin-top: 0;
  padding-left: 5%;
}


/* */
.mySlides {
  display: inline-block;
  width: 80%;
  height: 40%;
  margin-left: 9%;
  padding: 20px;
}


/* for click */
.cursor {
  cursor: pointer;
}


/* */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*     for mobile phone    */
@media only screen and (max-width: 414px) { 
  .play {
  padding-left: 7px;
  }

  .txt {
  font-size: 5vw;
  font-family: arial;  
}

.logo {
  width: 8vw;
  height: 8vw;
}
 
.row {
  margin-top: 0vw;
  margin-bottom: 15vw;
}
  
.space {
  margin-left: 7vw;
}
}