* {
  box-sizing: border-box;
}


/* */
body {
  background-color: black;
  color: rgb(244, 240, 244);
  font-family: arial;
}


/* */
header {
  background-color: black;
  position: sticky;
  top: 0;
  border-style: double;
  border: 2px dotted white;
}


/* music button */
.play {
  padding: 0.25rem 0.50rem;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 0.7rem;
  border: 2px dotted white;
  background-color: green;
  color: white;
  font-size: 15px;
}


/* link sites */
.sites {
 color: white;
 text-decoration: none;
}


/* align txt and logo in center */
.txt, 
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6vw;
  padding-top: 7px;
  padding-bottom: 8px;
}


/* text */
.txt {
  font-size: 23px;
}


/* camera logo */
.logo {
  width: 2.5rem;
  height: 2.5rem;
}


/* */
.container {
  padding-top: 50px;
}


/* */
.column {
  width: 16%;
  margin-top: 0;
  padding-left: 5%;
  margin-bottom: 3.5rem;
}


/* */
.mySlides {
  width: 80%;
  height: 40%;
  margin-left: 9%;
}


/*  for click  */
.cursor {
  cursor: pointer;
}


/*  button  */
.button {
  display: flex;
  gap: 47rem; 
  position: absolute;
  top: 35rem; 
  opacity: 0.7;
}
  
.left-btn {
  width: 0;
  height: 0;
  border-top:20px solid transparent ;
  border-left: 40px solid transparent;  
  border-right: 20px solid whitesmoke;  
  border-bottom: 20px solid transparent;
  background-color: transparent;
}
  
.right-btn {
  width: 0;
  height: 0;
  border-top:20px solid transparent ;
  border-left: 20px solid whitesmoke;  
  border-right: 40px solid transparent;
  border-bottom: 20px solid transparent;
  background-color: transparent;
}


/*     for mobile phone    */
@media only screen and (max-width: 414px) { 
  .txt, 
  .logo {
    gap: 0.1rem;
  }

  .txt {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.logo {
  width: 15vw;
  height: 12vw;
}

.row {
  margin-top: 0.5vw;
  margin-bottom: 7vw;
}
}