body {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  background: black;
  color: rgb(244, 240, 244);
  font-family: arial; 
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 1px;
}

ul li {
  list-style: none;
}

#play {
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-right: 32%;
  color: black;
}

img {
  border-radius: 10%;
}

.mySlides {
  display: inline-block;
  width: 80%;
  height: 40%;
  margin-left: 9%;
  padding: 20px;
}

.cursor {
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 16%;
  padding-left: 9%;
  margin-top: 0px;
}


@media only screen and (max-width: 700px) {
  body {
    margin: 0 auto;
    width: 100%;
  }

  header {
    font-size: 4vw;
  }

  #play {
    margin-right: 10%;
  }

  .column {
    width: 16%;
    padding-right: 1px;
    margin-top: 0px;
  }
}


/* for mobile phone */
@media only screen and (max-width: 414px) {
  body {
    margin: 0 auto;
    width: 100%;
  }

  header {
    font-size: 5vw;
  }

  #play {
    margin-right: 5%;
    font-size: 5vw;
  }

  .column {
    width: 16%;
    padding-right: 1px;
    margin-top: 0px;
  }
}